<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/controller.js"></script>
<script>
    $("#wrapper").toggleClass("toggled");
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
