<!DOCTYPE html>
<html ng-app="check">
<head>
  <title>lex-innova</title>
    <%- include ../views/header -%>
</head>
<body ng-controller="AppCtrl">
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a ng-click="showDetails()" href="#">
          Start App
        </a>
      </li >
      <li ng-repeat="y in apiData; ">
        <a  ng-click="imageSelected(y.id)" href="#">{{y.user}}</a>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>

      <div id="movies" class="row">
        <div  ng-repeat="x in apiData | orderBy : 'tags' ">
          <img src={{x.previewURL}}>
          <h5>{{x.tags}}</h5>
        </div>
      </div>

      <div id="abc" class="row hide">
        <div>
          <img src={{previewURL}}>
          <h5>{{tags}}</h5>
        </div>

      </div>

    </div>
  </div>
</div>
<%- include ../views/footer -%>

</body>
</html>