body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#menu-toggle { position: fixed;margin: -20px -17px; }
#movies > div {width: 300px;height: 300px;}
#movies > div > img { height:250px; width:250px}
#movies, #abc { padding-top: 20px }
#abc > div > img { width: 400px ; height: 400px;padding-top: 30px}


